.venv/
.env
.git/
.dagster/

.tmp_dagster*/
dbt/target/
dbt/dbt_packages/
dlt/
dbt/logs/
duckdb/*.duckdb
duckdb/*.duckdb.wal
*.duckdb
**/__pycache__/
**/*.pyc
**/*.pyo
documentation/
tests/

Dockerfile
docker-compose.yml
docker-seed-volumes.sh
DOCKER_USAGE.md
